.App {
  text-align: center;
}

.thumbnail {
  -max-height: 250px;
  max-width: 325px;
}

.thumbnail img {
  /*  height:250px;
    width:100%;*/
    display: block;
  max-width:230px;
  max-height:300px;
  width: auto;
  height: auto;
}

/* SearchBox */
.searchbox {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  min-width: 60px;
  height: 60px;
  /*float: center;*/
  overflow: hidden;
  text-align: center;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;

  -webkit-backface-visibility: hidden;
  border: none;
}

.sb-search-input{
  border: 1px solid #2c3e50;
  border-radius: 20px;
  /*outline: none;*/
  background: #fff;
  width: 15%;
  height: 60px;
  margin: 0 auto;
  z-index: 10;
  padding: 20px 10px 20px 10px;
  font-family: inherit;
  font-size: 20px;
  color: #2c3e50;
  transition: ease 1s;
}
  
input[type=search]:focus {
    width: 50%;
    outline-width: 0;
}

input[type=submit] {
  display: none;
}

/* ImageBox */
.imagebox img{
  border: 1px solid black;
  padding: 5px;
}