.App {
  text-align: center;
}

.thumbnail {
  max-height: 450px;
  max-width: 525px;
}

.nodisplay {
  opacity: 0;
}

.show {
  opacity: 1;
  transition-duration: 2s;
  /*transition: transform 1.25s;*/
  transform: translateY(50px) !important;
  box-shadow: -1px 0px 2px 0px rgba(0,0,0,0.75) !important;
}

.PictureBox {
  /*opacity: 1;*/
  transition-duration: 1.5s;
}

img:hover {
  opacity: 0.5;
}

.thumbnail img {
  /*  height:250px;
    width:100%;*/
    /*display: block;*/
  max-width:430px;
  max-height:500px;
  width: auto;
  height: auto;
}

/* SearchBox */
.searchbox {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  min-width: 60px;
  height: 60px;
  /*float: center;*/
  overflow: hidden;
  text-align: center;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;

  -webkit-backface-visibility: hidden;
  border: none;
}

.sb-search-input{
  border: 1px solid #2c3e50;
  border-radius: 20px;
  /*outline: none;*/
  background: #fff;
  width: 15%;
  height: 60px;
  margin: 0 auto;
  z-index: 10;
  padding: 20px 10px 20px 10px;
  font-family: inherit;
  font-size: 20px;
  color: #2c3e50;
  transition: ease 1s;
}
  
input[type=search]:focus {
    width: 50%;
    outline-width: 0;
}

input[type=submit] {
  display: none;
}

/* ImageBox */
.imagebox img{
  border: 1px solid black;
  padding: 5px;
}

.item {
  display: block;
  margin: 0;
  padding: .5em;
  background-color:
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

body {
  /*background-image: url("https://wallpaperscraft.com/image/wood_surface_texture_boards_118443_5356x3571.jpg");*/
  background-size: cover;
}
/*
.fade-leave {
  opacity: 1;
}*/

/*.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}*/